<%- include('partials/header.ejs') %>

    <h1>Bem-vindo ao Pedidos!</h1>
    <hr>
    <h3>Iniciando os estudos com Node.js e Express.</h3>
    <p>Essa página está sendo renderizada com EJS no Express.</p>
    <p><%# Comentario%></p>
    <p><%#= pedidos %></p>
    <table border="1px">
        <thead>
            <tr>
                <th width="150px">Produto</th>
                <th width="150px">Preço</th>
            </tr>
        </thead>
        <tbody>
        <% pedidos.forEach(pedido => { %>    
            <tr>
                <td align="center"><%= pedido.produto %></td>
                <td align="center"><%= pedido.preco %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>

<%- include('partials/footer.ejs') %>